APP_NAME="Trillion Dollar"
APP_ENV=local
APP_KEY=base64:T4U7biErgl+oLrW+CjNoc6odWJrcd0fQBDaKet4H/qQ=
APP_DEBUG=true
APP_URL=http://trilliondollar.localhost.com

SYSTEM_URL=http://trilliondollar.localhost.com

LOG_CHANNEL=daily

DEFAULT_CONNECTION=master_db

MASTER_DB_CONNECTION=master_db
MASTER_DB_DRIVER=mysql
MASTER_DB_HOST=127.0.0.1
MASTER_DB_PORT=3306
MASTER_DB_DATABASE=laravel6_trilliondollar
MASTER_DB_USERNAME=root
MASTER_DB_PASSWORD=hsdev123@

#migrations table location
#php artisan migrate --database=master_db
#php artisan jwt:secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

DEFAULT_PER_PAGE=15

GRAPH_KEY=ebb3f8f8-42c1-42b2-83b1-f2ad242ca83a
GRAPH_SECRET=6xN_3V4xG]1:@-ix4tj5hG3Aeg1r@LQY
GRAPH_TENANT_ID=395f4fa9-6f1c-4d16-9e64-2e7c88ad5a62
GRAPH_REDIRECT_URI=http://localhost/office365-callback

IMAGE_STORAGE=file
FILE_STORAGE=file

BLOB_STORAGE_URL=https://hsistorage.blob.core.windows.net
BLOB_ACCOUNT_NAME=hsistorage
BLOB_ACCESS_KEY=1t3ZBanta0t/dkOXV0vHGvGTgTL/af+BhExkOG2YanB2AkY1MAtK5sDpSjv9WCf9fVmf5+Hjjvd4RUGBbP0UOg==
BLOB_CONTAINER=trilliondollar

AZURE_QUEUE_STORAGE_NAME=
AZURE_QUEUE_KEY=
AZURE_QUEUE_NAME=
